<html>
<head>
<title>WhatsApp Image Sender</title>
</head>

<body>

<h2>Send WhatsApp Image</h2>

<form action="/send" method="post">

Phone Numbers

<br><br>

<input name="phones" placeholder="+91703xxxxxxx,+91850xxxxxxx">

<br><br>

Select Image

<br>

<input type="radio" name="image" value="1"> Owl Image
<br>

<input type="radio" name="image" value="2"> Dog Image
<br>

<input type="radio" name="image" value="3"> Lion Image

<br><br>

<button type="submit">Send Image</button>

</form>

</body>
</html>